div.return-policy
{
  h1
  {
    margin: 0 0 8px 0;
    padding: 0;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
  }

  ul
  {
    li
    {
      margin-bottom: 15px;
    }
  }

  p.last-paragraph
  {
    font-style: italic;
  }
}